<% include ../partials/header %>

<div class="container text-center">

	<div class="well bandwell">

		<header class=jumbotron>
			<div class="container">
				<h2> <%= band.name %> </h2>	
				<hr />
				<img src=" <%= band.image %>" />
				
			</div>
		</header>
		
		<br /> <p> <%= band.description %> </p>
		
		<hr />
		<p> Created on <%= band.created.toUTCString() %> 
			<% if (band.author.username) { %>
				by <strong><%= band.author.username %></strong>
			<% } %>		
		</p>
		<p> <% if (band.updated) { %>
				Updated on <%= band.updated.toUTCString() %>				
			<% } %>		
		</p>



		
		<a href='/bands/<%= band._id %>/edit'>
			<button class="btn btn-warning">
				Edit "<%= band.name %>" 
			</button>		
		</a>
		<form id='delete' action='/bands/<%= band._id %>?_method=DELETE' method='POST'>
			<button class="btn btn-danger">
				Delete "<%= band.name %>" 
		</form>

		<!--<br /> <a href="/bands">Back to Bands</a>			 
		<br />-->
			
	</div> <!-- /well -->

	<div class="well commentswell">

		<h3> Comments </h3>
		<br /> 		
		<a href="/bands/<%= band._id %>/comments/new">
			<button type="button" class="btn btn-primary"> Add a Comment
			</button></a>

		<% band.comments.forEach(function(comment) { %>		
			<hr /><p>
			<%= comment.created.toUTCString() %> by <strong><%= comment.author.username || 'anonymous user' %></strong> - <div id='comment' ><%= comment.text %> </div>
			</p>
		<%	}); %>

	</div> <!-- /well -->

</div> <!-- /container -->


<% include ../partials/footer %>

	